html {
    background-color: rgb(110, 110, 110);
}

#Google {
    font-size: 72px;
    font-weight: bolder;
    color: white;
    text-align: center;
    display: block;
    font-family: sans-serif;
}

body {
    width: 100%;
}

#search-bar {
    width: 50%;
    height: 40px;
    background-color: red;
    margin: auto;
    
}

#search-lists {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    padding: 10px;
}

#trio {
    display: inline;
}